{% include 'registration/includes/header.html' %}
{% load static %}
{% include 'registration/includes/header.html' %}
{% block content %}
<style>
  .login-form {
    width: 395px;
    max-width: 100%;
    padding: 50px 15px;
    font-family: 'SF Pro Display';
    border-color: #F1646F;
    weight: 45% 
}
</style>
<div class="login-signup">
    <div class="row no-gutters">
      <div class="col-xl-4 col-lg-5">
        <div class="ls-left">
          <div class="text-left w-100 mb-60 mb-md-100 mb-lg-130">
            <a href="{% url 'frontend:index' %}"><img src="{% static 'assets/images/login-logo.svg' %}" alt="MySong2U"></a>
          </div>
          <div class="ls-content">
            <h2 class="mb-30">Find Artists, Videographers Schedule Or Hire Them or Deliver A Live Song Performance.</h2>
            <h2>Login Now</h2>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="ls-right">
          <form onsubmit="Loader(this.id)" id="login-form" action="{% url 'accounts:web_login' %}" class="card login-form theme-from" method="post">
          {% csrf_token %}
          <div id="main-wrapper" class="d-flex align-items-center justify-content-center h-100">
            <div class="contactus-formbox">
                <div class="mb60 section-title text-center">
                    <div class="forgot_logo">
                        <a href="#" class="lock-wrapper"><img src="{% static 'assets/images/success.jpg' %}"
                                alt=""></a>
                        <h3><b>Welcome Back !</b></h3>
                    </div>
                </div>
                {% if form.email.errors %}
                <div class="alert alert-danger" id="errmessage">
                    <a class="close" style=color:#0d6efd; data-dismiss="alert" href="#">×</a> {{ form.email.errors }}
                </div>
                {% endif %}
                <form onsubmit="Loader(this.id)" id="login" method="POST" class="AuthForm-form  login-form">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group email position-relative">
                                <p>Your Password Has Been Set.  You May Go Ahead And Log In Now.</p>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center pt-3">
                            <a href="{% url 'accounts:web_login' %}" class="butn butn-bg butn-big butn-pink w-100 mb-27" type="submit" name="button">Back To Login</a>
                        </div>
                </form>
            </div>
        </div>
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
{% include 'registration/includes/footer.html' %}