{% include 'registration/includes/header.html' %} 
{% block content %} 
{% load i18n static %}

    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="ls-right">
                            <form onsubmit="Loader(this.id)" id="login" method="POST" class="AuthForm-form  login-form">
                                {% csrf_token %}
                                <h2 class="form-hd">Forgot Your Password?</h2>
                                {% if form.email.errors %}
                                <div class="alert alert-danger" id="errmessage">
                                    <a class="close" style=color:#0d6efd; data-dismiss="alert" href="#">×</a> {{ form.email.errors }}
                                </div>
                                {% endif %}
                                <div class="form-group form-floating mb-27">
                                    <h5>Please Enter Email</h5> 
                                    <input type="email" name="email" maxlength=50 class="form-control" id="email" placeholder="testname@testmail.com" required>
                                </div>
                                <button class="butn butn-bg butn-big butn-pink w-100 mb-27" type="submit" name="button">Submit</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% include 'registration/includes/footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script type="text/javascript">
    $("#login").validate({
        rules: {
            email: {
                required: true,
            }
        },
        messages: {
            email: {
                required: "Please enter email",
            }
        }
    });
</script>

<script>
    $(document).ready(function() {
        $('.close').on('click', function(e) {
            $('#errmessage').remove();
        });
    });
</script>  