{% load static %}
{% include 'registration/includes/header.html' %}
{% block content %}

<style>
    .er{
      color : red;
        
    }
 </style>
 <div class="password-screens">
    <div class="container-fluid">
      <a class="d-block p-3" href="/accounts/login"><img src="{% static 'assets/images/right-arrow.png' %}" alt="" width="35"> </a>
    </div>
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-xl-7">
          <form onsubmit="Loader(this.id)" id="loginn" method="POST" class="theme-from d-flex flex-column align-items-center justify-content-center w-100 pt-100 pb-100 pt-lg-50 pb-lg-50">
            {% csrf_token %}
            <div class="round-shadow-img mb-40">
              <div class="round-img">
                <img src="assets/images/new/01.png" alt="">
              </div>
            </div>
            <div class="form-header text-center mb-30 mb-xl-50">
              <p class="font-36 mb-10">Reset Your Password?</p>
              <p class="font-20 font-xl-22 text-gray">Enter the new  password.</p>
            </div>
            <div class="form-group w-100 mb-30">
              <div class="icon-find">
                <img src="{% static 'assets/images/password.png' %}"  alt="">
                
                <input type="password" class="form-control" id="new_password1" required name="new_password1" maxlength="35" minlength="8" aria-describedby="emailHelp" placeholder="Enter your password here">
                <span class="fal toggle-password fa-eye-slash" style="position: absolute;top: 23px;right: 19px;"></span>

                {% if form.email.errors %}
                  <p class="error">{{ form.email.errors }}</p>
                {% else %}
                  <p class="error"></p>
                {% endif %}
              </div>
            </div>
            <button href="" class="butn butn-bg font_400 w-100 font-20 font-lg-22 pt-16 pb-16 mb-30">
              <img class="mr-6" src="{% static 'assets/images/paper-plane.png' %}" alt=""> Save
            </button>
            <div class="text-center">
              <p class="font-18">If you have issues resetting your password. Please contact us at <a href="mailto:admin@ spaceandfido.org"> admin@ spaceandfido.org <a> </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
{% include 'registration/includes/footer.html' %}

<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script type='text/javascript'>
    $("#loginn").validate({

        rules: {
            new_password1: {
                required: true,

            },
            
        },
        messages: {
            new_password1: {
                required: "Please enter the password",          

            },
            
        },
    });
</script>
