{% load static %}
{% include 'registration/includes/header.html' %}
<style>
    .error{
      color : red; 
    }
 </style>
<div id="main-wrapper">
    <section class="contactussec ptb72">
       <div class="container">            
                <div class="row">
                    <div class="contactus-formbox">                   
                        <div class="mb60 section-title text-center">                          
                            <h2>Reset Password</h2>                           
                        </div>      
                        <input type ="text" value="{{id}}">
                   <form onsubmit="Loader(this.id)" id="validate" onsubmit ="return verifyPassword()" action="{% url 'accounts:reset_password_user' %}?id={{id}}" method="POST" class="contact-us-form login-form">
                    {% csrf_token %}                                                    
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group password">
                                    <input type="password" name="password" maxlength="35" minlength="8" class="form-control" id="pswd" placeholder="Enter Password" required>
                                </div> 
                            </div> 
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">                         
                                <div class="form-group password">
                                    <input type="password" name="password2" maxlength="35" minlength="8" class="form-control" id="pswd2" placeholder="Enter Confirm Password" required>
                                </div> 
                                    <div class="text-danger" id="msg">
                                    </div>
                            </div>                             
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center pt-3">
                                <button type="submit" class="btn btn-secondary w-100">Reset</button>
                            </div>
                        </div>                                   
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="{% static 'assets/js/jquery-3.5.1.slim.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script type="text/javascript">
    $("#validate").validate({
        rules: {
            pswd: {
                required: true,
            },
            pswd2: {
                required: true,
                val:pswd.val
            },
        },
        messages: {
            pswd: {
                required: "Please enter Pasword",
            },
            pswd2: {
                required: "Please enter COnfirm Password",
            },
        }
    });
</script>
<script>
  function verifyPassword() {  
  var pw = document.getElementById("pswd").value;  
  var pw2 = document.getElementById("pswd2").value;   
  if(pw != pw2) {  
    document.getElementById("msg").innerHTML = "Password and Confirm-Password does not Match!";  
    return false;  
  }    
}  
</script>   
{% include 'registration/includes/footer.html' %}
