
{% if request.user.role_id == 2 %}
{% include "user/includes/header.html" %}
{% elif request.user.role_id == 3%}
{% include "rvt/includes/header.html" %}
{% else %}
{% include "admin-includes/header.html" %}
{% endif %}
{% block content %}
{% load static %}
<style>
    .eyeicon {
        position: absolute;
        height: 20px;
        top: 45px;
        right: 19px;
    }
</style>
<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-tab">
                            <div class="settings-form">
                                <h4 class="text-primary mb-4">Change Password</h4>

                                <form onsubmit="Loader(this.id)" id="change-password" method="POST" action="{% url 'accounts:Password_Change' %}">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>New Password</label>
                                            <input type="password" placeholder="New Password" name="new_password"
                                                id="password" required maxlength="35" minlength="8"
                                                class="form-control form-control-lg">
                                            <span type="checkbox" data-attr="password" class="eyeicon">
                                                <i class="eye fas fa-eye-slash"></i>
                                            </span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Confirm Password</label>
                                            <input type="password" placeholder="Confirm Password"
                                                name="confirm_password" id="password1" required maxlength="35" minlength="8" class="form-control form-control-lg">
                                            <span type="checkbox" data-attr="password1" class="eyeicon">
                                                <i class="eye fas fa-eye-slash"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
            Content body end
        ***********************************-->

{% endblock %}
{% if request.user.role_id == 2 %}
{% include "user/includes/footer.html" %}
{% elif request.user.role_id == 3%}
{% include "rvt/includes/footer.html" %}
{% else %}
{% include "admin-includes/footer.html" %}
{% endif %}
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script type="text/javascript">
    $("#change-password").validate({
        rules: {
            new_password: {
                required: true,
                minlength: 8,
            },
            confirm_password: {
                required: true,
                minlength: 8,
                equalTo: "#password"
            }
        },
        messages: {
            new_password: {
                required: "Please enter new password",
                minlength: jQuery.validator.format("At least {0} characters required!")
            },
            confirm_password: {
                required: "Please enter confirm password",
                minlength: jQuery.validator.format("At least {0} characters required!"),
                equalTo: "Passwords do not match!"
            }
        }
    });
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
<script type="text/javascript">
    $(document).on('click', '.eyeicon', function () {
        var x = document.getElementById($(this).attr("data-attr"));
        if (x.getAttribute('type') == "password") {
            $(this).find(".eye").removeClass("fas fa-eye-slash");
            $(this).find(".eye").addClass("fas fa-eye");
            x.removeAttribute("type");
            x.setAttribute("type", "text");
        } else {
            x.removeAttribute("type");
            x.setAttribute('type', 'password');
            $(this).find(".eye").removeClass("fas fa-eye");
            $(this).find(".eye").addClass("fas fa-eye-slash");
        }
    })
</script>