<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> spacefido</title>
</head>
  <body>
   
        <table width="100%" class="fl-table" style="border:1px solid #ccc;border-spacing: 0px;@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');color:#212529">
            <thead>
            <tr style="border:1px solid #ccc">
                <th style="border:1px solid #ccc;background-color: #f7f4fb;padding: 20px 12px;font-size: 14px;color: #686868;font-weight: 500;text-align: left;font-family: 'Ubuntu', sans-serif;width: 5%;min-width: 51px;max-width: 60px;">Appt ID</th>
                <th style="border:1px solid #ccc;background-color: #f7f4fb;padding: 20px 12px;font-size: 14px;color: #686868;font-weight: 500;text-align: left;font-family: 'Ubuntu', sans-serif;width:15%">Service</th>
                <th style="border:1px solid #ccc;background-color: #f7f4fb;padding: 20px 12px;font-size: 14px;color: #686868;font-weight: 500;text-align: left;font-family: 'Ubuntu', sans-serif;width:16%">Customer Name</th>
                <th style="border:1px solid #ccc;background-color: #f7f4fb;padding: 20px 12px;font-size: 14px;color: #686868;font-weight: 500;text-align: left;font-family: 'Ubuntu', sans-serif;width:27%">Customer Address</th>
                <th style="border:1px solid #ccc;background-color: #f7f4fb;padding: 20px 12px;font-size: 14px;color: #686868;font-weight: 500;text-align: left;font-family: 'Ubuntu', sans-serif;width:16%">RVT</th>
                <th style="border:1px solid #ccc;background-color: #f7f4fb;padding: 20px 12px;font-size: 14px;color: #686868;font-weight: 500;text-align: left;font-family: 'Ubuntu', sans-serif;width:10%">Amount</th>
                <th style="border:1px solid #ccc;background-color: #f7f4fb;padding: 20px 12px;font-size: 14px;color: #686868;font-weight: 500;text-align: left;font-family: 'Ubuntu', sans-serif;width:8%">Appointment Status</th>
            </tr>
            </thead>
            <tbody>
            {% for app in appointments %}
            <tr style="border:1px solid #ccc">
                <td style="border:1px solid #ccc;padding: 20px 12px;font-size: 14px;text-align: left;font-family: 'Ubuntu', sans-serif;">{{app.id}}</td>
                <td style="border:1px solid #ccc;padding: 20px 12px;font-size: 14px;text-align: left;font-family: 'Ubuntu', sans-serif;">
                {% for srv in app.service.all %} {% if srv.category.title %}{{srv.category.title}}<span style="display:block"></span>{% endif %}{% endfor %}
                {% for custom in app.custom.all %} {% if custom.title %}{{custom.title}}<span style="display:block"></span>{% endif %}{% endfor %}
                </td>
                <td style="border:1px solid #ccc;padding: 20px 12px;font-size: 14px;text-align: left;font-family: 'Ubuntu', sans-serif;">{% if app.created_by.first_name %}{{app.created_by.first_name}}{% else %}-{% endif %}</td>
                <td style="border:1px solid #ccc;padding: 20px 12px;font-size: 14px;text-align: left;font-family: 'Ubuntu', sans-serif;">{% if app.created_by.address %}{{app.created_by.address}}{% else %}-{% endif %}</td>
                <td style="border:1px solid #ccc;padding: 20px 12px;font-size: 14px;text-align: left;font-family: 'Ubuntu', sans-serif;">{% if app.created_for.first_name %}{{app.created_for.first_name}}{% else %}-{% endif %}</td>
                <td style="border:1px solid #ccc;padding: 20px 12px;font-size: 14px;text-align: left;font-family: 'Ubuntu', sans-serif;">${% if app.amount %}{{app.amount}}{% else %}-{% endif %}</td>
                <td style="border:1px solid #ccc;padding: 20px 12px;font-size: 14px;text-align: left;font-family: 'Ubuntu', sans-serif;">
                {% if app.status == '1' %}
                Confirmed
                {% elif app.status == '2' %}
                Complete
                {% elif app.status == '3' %}
                Cancel
                {% endif %}
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
  </body>
  </html>