{% include "admin-includes/header.html" %}
{% block content %}
{% load static %}
{% load extras %}

<link rel="stylesheet" href="{% static 'admin-assets/css/services.css' %}" />
<link rel="stylesheet" href="{% static 'admin-assets/css/newsletter-subscription.css' %}" />
<style>
    .services-list .services-wrap .serv-inner .img-wrap img {
        max-width: 100px;
    }
</style>    
<div class="inner-page">
    <div class="search-wrap top-search mb-20 mb-md-20">
        <form onsubmit="Loader(this.id)" action="{% url 'superuser:search_service_category' %}" method="POST">
            <div class="row align-items-center">

                <div class="col-xl-5 col-lg-7 mb-10 mb-lg-0">
                    <div class="d-sm-flex align-items-center mt-10 mt-lg-0">
                            <div class="d-flex align-items-center">
                            <div class="action-wrap media-body pl-0 pl-sm-15 mt-10 mt-sm-0">
                            </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="services-list row custom-gutters-10">
        {% for percent in tax %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-15 mb-md-20">
                <div class="services-wrap d-flex align-items-center justify-content-center text-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a data-toggle="modal" data-target="#editService" onclick="code({{percent.id}});reply({{percent.id}})" class="dropdown-item" href="#"><img src="{% static 'admin-assets/images/icons/pen.svg' %}">
                                Edit</a>
                           
                        </div>
                    </div>
                    <div class="serv-inner">
                        <div class="text-wrap">
                            <p class="font-lg-20 text-primary"> Service Fee Percentage</p>
                            <p class="font-lg-20 text-primary">{{percent.tax_percentage}}%</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not tax %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-15 mb-md-20">
            <a href=""
                class="services-wrap add-service-wrap d-flex align-items-center justify-content-center text-center"
                data-toggle="modal" data-target="#addService">
                <div class="serv-inner">
                    <div class="img-wrap">
                        <img src="{% static 'admin-assets/images/services/add.svg' %}">
                    </div>
                    <div class="text-wrap">
                        <p class="font-lg-18 text-primary">Add Service Fee</p>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade addformModal" data-backdrop="static" data-keyboard="false" id="addService" tabindex="-1" role="dialog" aria-labelledby="addServiceTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" onclick="return location.reload()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
           
            <div class="modal-body">
                <form onsubmit="Loader(this.id)" id="add-tax" action="{% url 'superuser:add_tax_percentage' %}" method="POST">
                    {% csrf_token %}
                    <div class="heading">
                        <p class="text-center">Add Service Fee</p>
                    </div>

                    <div class="form-group">
                        <input type="text" maxlength="60" onkeypress="return /[0-9.]/i.test(event.key)" name="tax_percent" class="form-control" placeholder="Service Fee"  maxlength="100">
                    </div>
                    <div class="button-wrap">
                        <button class="btn btn-theme w-100">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade addformModal" data-backdrop="static" data-keyboard="false" id="editService" tabindex="-1" role="dialog" aria-labelledby="addServiceTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" onclick="return location.reload()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
           
            <div class="modal-body">
                <form onsubmit="Loader(this.id)" id="add-tax" action="{% url 'superuser:edit_tax_percentage' %}" method="POST" >
                    {% csrf_token %}
                    <div class="heading">
                        <p class="text-center">Update Service Fee</p>
                    </div>

                    <div class="form-group">
                        <input type="text" name="tax_percentage" id="tax_percentage" onkeypress="return /[0-9.]/i.test(event.key)"  maxlength="60" class="form-control" placeholder="Service Fee">
                    </div>
       
                    <input type="hidden" id="id" name="tax_percent" >
                
                    <div class="button-wrap">
                        <button class="btn btn-theme w-100">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#chooseFile").change(function () {
        var fileExtension = ['jpg', 'png','jpeg'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            $(".file_er").html("Please upload file in these format only (pdf,jpg, jpeg, png)");
            $(".btn").prop('disabled', true);
        }
        else{
            $(".file_er").html("");
            $(".btn").prop('disabled', false);
        }
    });
</script>
<script>
    $("#editchooseFile").change(function () {
        var fileExtension = ['jpg', 'png','jpeg'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            $(".file_er").html("Please upload file in these format only (pdf,jpg, jpeg, png)");
            $(".btn").prop('disabled', true);
        }
        else{
            $(".file_er").html("");
            $(".btn").prop('disabled', false);
        }
    });
  </script>
{% endblock %}
{% include "admin-includes/footer.html" %}
<script type="text/javascript">
    $("#add-tax").validate({
        rules: {
            tax_percent: {
                required: true,
            },
            
        },
        messages: {
            title: {
                tax_percent: "Please enter the tax value",
            },
            
        }
    });
</script>
<script>
    function code(clicked_name) {
        x = clicked_name
        $.ajax({
            url: "{% url 'superuser:previous_tax_percent' %}",
            type: 'GET',
            data: { 'tax_percent': x },
            success: function (data) {
                $("#id").val(data.id);
                $("#tax_percentage").val(data.tax_percent);
                
            }
        });
    }
    function reply(clicked_id) {
        x = clicked_id
        var elem = document.getElementById("tax_percent");
        elem.value = x;
    }
</script>
