{% include "user/includes/header.html" %}
{% block content %}
{% load static %}
{% load extras %}

<link rel="stylesheet" href="{% static 'admin-assets/datepicker/jquery-ui.min.css' %}" />
<link rel="stylesheet" href="{% static 'admin-assets/datepicker/jquery-ui.theme.min.css' %}" />
<script src="{% static 'admin-assets/datepicker/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin-assets/rvt-css/my-services.css' %}">

<style>
    section.wrapper {
        box-shadow: 0px 4px 11.5px rgb(0 0 0 / 25%);
        background-color: #ffffff;
    }
    .main-head h4 {
        font-size: 20px;
        font-weight: 400;
    }
    .wrapper-two {
        background: linear-gradient(180deg, #F5EAFB 0%, #FFFAEC 100%);
        border-radius: 30px 30px 0px 0px;
    }
    .rating {
        background: #7B2BBE;
        box-shadow: 0px 4px 5px 1px rgb(190 54 238 / 5%);
        border-radius: 20px;
        padding: 45px 40px;
    }
    .rating-icon {
        color: #ffff;
    }
    .font-color {
        color: #787B7E;
    }
    .progress-bar {
        background: #fc0 !important;
    }
    .media-wrap {
        border-bottom: 2px solid #E1D7E7;
    }
    .placeholder-content {
        width: 41%;
        position:relative;
    }
    .placeholder-content input {
        width: 50%;
        border: 0;
    }
    .placeholder-content.ml-auto::before {
        content: "";
        background-image: url(/static/admin-assets/images/Vector.png);
        position:absolute;
        top: 7px;
        left: 0;
    }
    .placeholder-content img {
        position: absolute;
        left: 202px;
        right: 0;
    }
    .stars {
        --percent: calc(var(--rating) / 5 * 100%);
        font-size: 30px;
        font-family: Times;
        line-height: 1;
    }
    .stars::before {
        content: "★★★★★";
        letter-spacing: 3px;
        background: linear-gradient(90deg, #fc0 var(--percent), #ccc var(--percent));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .media .profile-img-rv {
        width:60px;
        height:60px;
        border-radius:50%;
        overflow:hidden;
        margin-right:1rem;
    }
    .media .profile-img-rv img {
        width:100%;
        height:100%;
        object-fit :cover;
    }
</style>


<div class="wrapper-two pt-5 pb-5">
    <div class="container">
        <div class="rating-main">
            <div class="row rating d-flex align-items-center mb-2">
                <div class="col-lg-6">
                    <div class="rating-icon text-center">
                        <h3 class="mb-2">{% if average_rating.average_rating %}{{average_rating.average_rating}}{% endif %}</h3>
                        <div class="stars" style="--rating: {% if average_rating.average_rating %}{{average_rating.average_rating}}{% else %}0{% endif %};"></div>     
                    </div>
                </div>               
                <div class="col-lg-6">
                    <div class="row ">
                        <div class="col-lg-2">
                            <p class="text-white">5 <i class="fas fa-star ml-1" style="color: #fc0;"></i></p>
                        </div>
                        <div class="col-lg-8">
                            <div class="progress-main text-white">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress_bar_five}}" aria-valuemin="0"
                                        aria-valuemax="100" style="width:{{progress_bar_five}}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <p class="text-white">{{five}}</p>
                        </div>
                    </div>
                    <br>
                    <div class="row ">
                        <div class="col-lg-2">
                            <p class="text-white">4 <i class="fas fa-star ml-1" style="color: #fc0;"></i></p>
                        </div>
                        <div class="col-lg-8">
                            <div class="progress-main text-white ">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress_bar_four}}" aria-valuemin="0"
                                    aria-valuemax="100" style="width:{{progress_bar_four}}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <p class="text-white">{{four}}</p>
                        </div>
                    </div>
                    <br>
                    <div class="row ">
                        <div class="col-lg-2">
                            <p class="text-white">3 <i class="fas fa-star ml-1" style="color: #fc0;"></i></p>
                        </div>
                        <div class="col-lg-8">
                            <div class="progress-main text-white ">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress_bar_three}}" aria-valuemin="0"
                                    aria-valuemax="100" style="width:{{progress_bar_three}}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <p class="text-white">{{three}}</p>
                        </div>
                    </div>
                    <br>
                    <div class="row ">
                        <div class="col-lg-2">
                            <p class="text-white">2 <i class="fas fa-star ml-1" style="color: #fc0;"></i></p>
                        </div>
                        <div class="col-lg-8">
                            <div class="progress-main text-white ">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress_bar_two}}" aria-valuemin="0"
                                    aria-valuemax="100" style="width:{{progress_bar_two}}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <p class="text-white">{{two}}</p>
                        </div>
                    </div>
                    <br>
                     <div class="row ">
                        <div class="col-lg-2">
                            <p class="text-white">1 <i class="fas fa-star ml-1" style="color: #fc0;"></i></p>
                        </div>
                        <div class="col-lg-8">
                            <div class="progress-main text-white ">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress_bar_one}}" aria-valuemin="0"
                                    aria-valuemax="100" style="width:{{progress_bar_one}}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <p class="text-white">{{one}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media-wrap-main mt-4">
            {% if rating %}
            {% for user in rating %}
                <input type="hidden" value="{{user.created_for.id}}" id="rvt_id">
                <div class="media">
                    <div class="media-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="profile-img-rv">
                                    {% if user.created_by.profile_pic %}
                                    <img style="max-width: 100px;" class="align-self-start mr-3 rounded-circle img-responsive img-fluid" src="{{user.created_by.profile_pic.url}}" alt="">
                                    {% else %}
                                    <img style="max-width: 100px;" class="align-self-start mr-3 rounded-circle img-responsive img-fluid" src="{% static 'admin-assets/images/default.png' %}" alt="">
                                    {% endif %}
                                </div>
                                <div>
                                    <h5 class="">{% if user.created_by.first_name %}{{user.created_by.first_name}}{% endif %}</h5>
                                    <p class="font-color">{{user.created_on|date }}</p>
                                    <p class="font-color">{% if user.comment %}{{user.comment }}{% endif %}</p>
                                </div>
                            </div>        
                            <h5 class="mt-0"> <i style="color:#fc0;" class="fas fa-star"></i>{% if user.rating %} {{user.rating }} {% endif %}</h5>
                        </div>
                    </div>
                </div>
              
                <hr>
                {% endfor %}
                {% else %}
                 <td colspan="7" align="center">No Ratings Found<td>

                {% endif %}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}
<script>
rvt_id=$('#rvt_id').val()
$('#r_id').val(rvt_id)
</script>
